<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- H2 DataSource Bean -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:~/masterleague;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!-- Entity Manager Factory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="versus.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Controller Beans -->
    <bean id="gameController" class="versus.controller.GameController">
        <constructor-arg ref="gameService"/>
    </bean>
    <bean id="playerController" class="versus.controller.PlayerController">
        <constructor-arg ref="playerService"/>
        <constructor-arg ref="teamService"/>
    </bean>
    <bean id="teamController" class="versus.controller.TeamController">
        <constructor-arg ref="teamService"/>
    </bean>
    <bean id="tournamentController" class="versus.controller.TournamentController">
        <constructor-arg ref="tournamentService"/>
    </bean>

    <!-- Service Beans -->
    <bean id="gameService" class="versus.service.GameServiceImpl">
        <constructor-arg ref="gameRepository"/>
    </bean>
    <bean id="playerService" class="versus.service.PlayerServiceImpl">
        <constructor-arg ref="playerRepository"/>
    </bean>
    <bean id="teamService" class="versus.service.TeamServiceImpl">
        <constructor-arg ref="teamRepository"/>
    </bean>
    <bean id="tournamentService" class="versus.service.TournamentServiceImpl">
        <constructor-arg ref="tournamentRepository"/>
        <constructor-arg ref="gameRepository"/>
    </bean>

    <!-- Repository Beans -->
    <bean id="gameRepository" class="versus.repository.GameRepositoryImpl"/>
    <bean id="playerRepository" class="versus.repository.PlayerRepositoryImpl"/>
    <bean id="teamRepository" class="versus.repository.TeamRepositoryImpl"/>
    <bean id="tournamentRepository" class="versus.repository.TournamentRepositoryImpl"/>
    <bean id="tournamentRepositoryExtension" class="versus.repository.TournamentRepositoryExtension"/>

</beans>
