<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DAO Beans -->
    <bean id="gameRepository" class="versus.repository.GameRepositoryImpl"/>
    <bean id="playerRepository" class="versus.repository.PlayerRepositoryImpl"/>
    <bean id="teamRepository" class="versus.repository.TeamRepositoryImpl"/>
    <bean id="tournamentRepository" class="versus.repository.TournamentRepositoryImpl"/>
    <bean id="tournamentRepositoryExtension" class="versus.repository.TournamentRepositoryExtension"/>

    <!-- Service Beans -->
    <bean id="gameService" class="versus.service.GameServiceImpl">
        <constructor-arg ref="gameRepository"/>
    </bean>
    <bean id="playerService" class="versus.service.PlayerServiceImpl">
        <constructor-arg ref="playerRepository"/>
    </bean>
    <bean id="teamService" class="versus.service.TeamServiceImpl">
        <constructor-arg ref="teamRepository"/>
    </bean>
    <bean id="tournamentService" class="versus.service.TournamentServiceImpl">
        <constructor-arg ref="tournamentRepository"/>
    </bean>

    <!-- Utility Bean -->
    <bean id="helper" class="versus.util.Helper"/>



</beans>